<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <h1>Elenco Servizi</h1>
        <table class="table table-striped">
            <thead>
                <td>Nome</td>
                <td>Descrizione</td>
                <td>Costo Mensile</td>
            </thead>
            <tbody>
                <% for(let [idx, obj] of elenco.entries()) { %>
                    <tr>
                        <td><%= obj.name %></td>
                        <td><%= obj.desc %></td>
                        <td><%= obj.cost %></td>
                        <% if(ruolo == "ADMIN") { %>
                            <form action="/eliminasub/<%= obj._id%>" method="get">
                            <td><button type="submit" class="btn btn-danger">Cancella</button></td>
                            </form>
                            <form action="/modificasub/<%= obj._id%>" method="get">
                            <td><button type="submit" class="btn btn-warning">Modifica</button></td>
                            </form>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>