<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <h1>Elenco Utenti</h1>
        <table class="table table-striped">
            <thead>
                <td>Nome</td>
            </thead>
            <tbody>
                <% for(let [idx, obj] of elenco.entries()) { %>
                    <% if (obj.role=='USER') { %>
                        <tr>
                            <td><%= obj.username %></td>                                   
                        
                        <% if (ruolo=='ADMIN') { %>
                            <form action="/eliminautente/<%= obj._id%>" method="get">
                                <td><button type="submit" class="btn btn-danger">Elimina</button></td>
                            </form>
                        <% } %>
                        </tr>
                    <% } %>    
                <% } %>    
            </tbody>
        </table>
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>