<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <h1>Benvenuto</h1>
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>