<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <h1>Inserisci Nuovo Servizio</h1>
        <form action="/insub" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" name="inputName" id="name" class="form-control" placeholder="Inserisci">
            </div>    
            <div class="form-group">
                <label for="desc">Descrizione</label>
                <input type="text" name="inputDesc" id="desc" class="form-control" placeholder="Inserisci">
            </div>    
            <div class="form-group">
                <label for="cost">Costo Mensile</label>
                <input type="number" name="inputCost" id="cost" class="form-control" placeholder="Inserisci">
            </div>  
            <div class="form-group">
                <lable for="campo-file">Inserisci il logo</lable>
                <input type="file" name="inputFile" class="form-control" id="campo-file" placeholder="Attach file here!" />
            </div>
              
            <button type="submit" class="btn btn-primary">Inserisci Servizio</button>
        </form>
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>