<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <h1>Login</h1>
        <form action="/auth/login" method="POST">
           <div class="form-group">
               <label for="user">Username</label>
               <input type="text" name="inputUser" id="user" class="form-control" placeholder="">
           </div>
           <div class="form-group">
               <label for="password">Password</label>
               <input type="password" name="inputPassword" id="password" class="form-control" placeholder="">
           </div>
           <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>