<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <h1>Ordina Un Servizio</h1>
        <form action="/order" method="post">
            <div class="form-group">
                <label for="nome">Nome Servizio</label>
                <!-- <input type="text" name="inputNome" id="nome" class="form-control" placeholder="Inserisci"> -->
                <select name="inputNome" id="nome" class="form-control">
                    <% for(let [idx, obj] of elenco.entries()) { %>
                            <option><%= obj.name %></option>                    
                    <% } %>
                </select>
            </div>                
            <div class="form-group">
                <label for="durn">Durata(in mesi)</label>
                <input type="text" name="inputDurn" id="durn" class="form-control" placeholder="Inserisci">
            </div>
            <div class="form-group">
                <label for="paym">Metodo di pagamento</label>
                <select name="inputPaym" id="paym" class="form-control"> 
                    <option value="Bonifico">Bonifico</option>
                    <option value="PayPal">PayPal</option>
                    <option value="Contanti">Contanti</option>
                </select> 
            </div>
            
            <button type="submit" class="btn btn-primary">Effettua Ordine</button>
        </form>
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>