<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <h1>Storico Ordini</h1>
        <table class="table table-striped">
            <thead>
                <td>Utente</td>
                <td>Nome Servizio</td>
                <td>Descrizione</td>
                <td>Costo totale</td>
                <td>Metodo di pagamento</td>
                <td>Data di acquisto</td>
                <td>Scadenza (in giorni)</td>
            </thead>
            <tbody>
                <% for(let [idx, obj] of elenco.entries()) { %>
                    <tr>
                        <td><%= obj.username %></td>
                        <td><%= obj.nome %></td>
                        <td><%= obj.desc %></td>
                        <td><%= obj.totCost %></td>
                        <td><%= obj.paym %></td>
                        <td><%= obj.date %></td>
                        <td><%= obj.durn*30 %></td>
                        <!-- <td><button type='button' class="btn btn-primary">Acquista</button></td> -->
                        <% if(ruolo == "ADMIN") { %>
                            <form action="/eliminaordine/<%= obj._id%>" method="get">
                                <td><button type="submit" class="btn btn-danger">Cancella</button></td>
                            </form>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>