<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <h1>Registrati</h1>
        <form action="/auth/register" method="POST">
           <div class="form-group">
               <label for="user">Username</label>
               <input type="text" name="inputUser" id="user" class="form-control" placeholder="Inserisci">
           </div>
           <div class="form-group">
               <label for="password">Password</label>
               <input type="password" name="inputPassword" id="password" class="form-control" placeholder="Inserisci">
           </div>
           <div class="form-group">
               <label for="role">Username</label>
               <select name="inputRole" id="role" class="form-control">
                   <option value="ADMIN">Amministratore</option>
                   <option value="USER">Utente</option>
               </select>
           </div>
           <button type="submit" class="btn btn-primary">Registrati</button>
        </form>
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>