<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/elencosubs">Visualizza Servizi<a>
        </li>
        <% if(ruolo == "ADMIN") { %>
          <li class="nav-item">
            <a class="nav-link" href="/insub">Aggiungi servizio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orderslog">Visualizza ordini</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/elencoutenti">Visualizza utenti</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Modifica Servizi</a>
          </li> -->
        <% } %>

        <% if(ruolo == "USER") { %>
          <li class="nav-item">
            <a class="nav-link" href="/orderslog">Storico ordini</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order">Effettua Ordine</a>
          </li>
        <% } %>        
      </ul>
  </div>
  <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">Gestione Abbonamenti</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <% if(!loggato) { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Registrati</a>
          </li>
          <% } else { %>          
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
        <% } %> 
      </ul>
  </div>
</nav>