.card-img-top {
    /* width: 80%; */
    height: 15vw;
    object-fit: cover;
}
/* body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

} */

.container{
    font-family: 'Inter', sans-serif;
}